.container
    h1 Standup-Timer
    .row
        .main.col-md-8
            .timer

        aside.col-md-4
            button.start.btn.btn-primary.btn-block START
            button.stop.btn.btn-default.btn-block STOP

footer.container
    .row
