.container
  h1 Standup-Timer
  .row
    .main.col-md-8
      .timer let's go...

    aside.col-md-4
      button.start.btn.btn-success.btn-block START
        button.stop.btn.btn-danger.btn-block STOP

footer.container
  .row
