.container
    .row
        h1 Hello Standup
    .row
        .main.col-md-8
            .timer

        aside.col-md-4.
            button.startbtn.btn-default.btn-lg START
            button.stop.btn.btn-default.btn-lg STOP

footer.container
    .row
